$mainBg: black;
$mainColor: whitesmoke; 

body{
  background: black;
  color: whitesmoke;
  font-family: monospace;
  display: grid;
  justify-items: center;
  height: 100vh;
}

//containers
.main-container{
  width: 60%;
  margin: auto;
  background: #333;
  padding: 1em;
  border-radius: 12px;
}

.input-container{
   display: flex;
   input{
     border: none;
     padding: 1em;
   }
   .addTodo{
     background: coral;
     color: white;
     border: none;
     margin-left: 2px;
     padding: 1em;
     margin-left: 1em;
   }
}

.result-container{
  //background: black;
  .todos{
    list-style: none;
    li{
      margin-top: 1em;
      background: black;
      padding: 1em;
      display:flex;
      justify-content: space-between;
      align-items: center;
      .remove{
        border: none;
        padding: 1em;
        cursor: pointer;
      }
      .remove:hover{
        background: red;
        color: whitesmoke;
      }
    }
  }
}


//example

.removeTest{
     border: none;
     padding: 1em;
     cursor: pointer;
}
.removeTest:hover{
        background: red;
        color: whitesmoke;
}